<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jikexueyuan.usingtoolbar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:label="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OtherActivity"
            android:label="OtherActivity"
            android:parentActivityName="com.jikexueyuan.usingtoolbar.OtherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jikexueyuan.usingtoolbar.OtherActivity" />
        </activity>
    </application>

</manifest>
